<tr>
    <td><%= book.Call_num %></td>
    <td><%= book.Title %></td>
    <td><%= book.Author_Last %></td>
    <td><%= book.Copyright %></td>
    <td><%= book.Subject %></td>
    <td><%= link_to 'Show', book, class: 'button cell' %></td>
    <% if current_user.approved || current_user.admin %>
    <td><%= link_to 'Edit', edit_book_path(book), class: 'button warning cell'  %></td>
    <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert cell'  %></td>
    <% end %>
</tr>